---
---

@import "{{ site.theme }}";

/* Make body at least as tall as the viewport and set up flexbox */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Make main content fill all remaining space after header/footer is accounted for */
#main_content_wrap {
  flex: 1;
}

/* Make content wider and reduce padding around header and content */
.inner {
  max-width: 900px;
  padding: 15px 10px 15px 10px !important;
}

/* Remove the empty tagline */
#project_tagline {
  display: none;
}

/* Hide markers on nested list items */
li li {
  list-style: none;
}

/* Reduce margin after nested uls */
li ul {
  margin-bottom: 0.6ex;
}
