---
---

@import "{{ site.theme }}";

/* Make body at least as tall as the viewport and set up flexbox */
body {
  min-width: min-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Make main content fill all remaining space after header/footer is accounted for */
#main_content_wrap {
  flex: 1;
}

/* Make content wider and reduce padding around header and content */
.inner {
  max-width: 840px;
  padding: 15px 10px 15px 10px !important;
}

/* Make images as wide as the content column */
img {
  max-width: 100%;
}

/* Remove the empty tagline */
#project_tagline {
  margin: 0;
  padding: 0;
}

/* Hide markers on nested list items */
li li {
  list-style: none;
}

/* Add some margin between nested list items */
li li + li {
  margin-top: 0.3ex;
}

/* Reduce margin after nested uls */
li ul {
  margin-bottom: 0.6ex;
}

/* Prefix footnote references with '[' */
.footnote::before {
  content: "[";
}

/* Suffix footnote references with ']' */
.footnote::after {
  content: "]";
}

/* Add line between main content and footnotes, adjust spacing */
.footnotes {
  border-top: solid 2px black;
  margin-top: 3em;
  padding-top: 0.7em;
}

/* Adjust footnote spacing */
.footnotes p {
  margin: 0.25em 0;
}

@media screen and (max-width: 480px) {
  /* Reduce top and bottom padding */
  #forkme_banner {
    padding: 4px 44px 4px 8px;
  }

  /* Break label over two lines, centred  */
  #forkme_label {
    display: block;
    width: min-content;
    text-align: center;
    line-height: 1.1;
  }
}
